* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--color-bg);
  color: var(--color-text);

  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;

  background: var(--color-bg);

  font-family: var(--font-body);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
textarea,
select {
  font: inherit;
}

button,
a {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}

::selection {
  background: var(--color-blue);
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text-dim);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue);
}